.buttonCss {
    background-color: white;
    padding: 0.5rem;
    font-weight: bold;
    border: 4px solid transparent;
    transition: 300ms all;
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 30px;
    min-width: 80px;
    margin: 1px;
    margin-left: 20px;
    padding: auto;
    cursor: pointer;
    text-decoration: none;
    color: var(--orange);
    box-shadow: 0 0 0 0;
    border: 1px solid;
    border-radius: 4px;


    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}

.buttonCss:hover {
    cursor: pointer;
}