.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 5rem;
    height: 5rem;
}

.header_menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
    background: var(--appColor);
    padding: "0.5rem";
    border-radius: 5px
}

.header_menu>li:hover {
    color: var(--orange);
    cursor: pointer
}

@media screen and (max-width: 767px) {
    .header>:nth-child(2) {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header_menu {
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}