
.buttonCss {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    height: 30px;
    min-width: 80px;
    margin: 1px;
    margin-left: 20px;
    padding: auto;
    cursor: pointer;
    text-decoration: none;
    color: var(--clrBtn);
    background-color: var(--clrBtnBg);
    box-shadow: 0 0 0 0;
    border: 1px solid;
    border-radius:10px ;

    
    -webkit-border-radius: 8px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
}
